$font: "Poppins", arial, sans-serif;

// background colors
$primary_transparent: rgba(85, 110, 230, 0.25);
$auth: #e5e5e5;

// colors
$primary: rgba(85, 110, 230, 1);
$whisper: #f8f8fb;
$trout: rgba(73, 80, 87, 1);
$ghost: rgba(206, 212, 218, 1);
$white: rgba(255, 255, 255, 1);
$hit_gray: rgba(173, 181, 189, 1);
$storm_gray: rgba(116, 120, 141, 1);
